:root {
    --primary: #FFB74D;
    --secondary: #A66D56;
}

::selection {
    background-color: var(--primary);
    color: #fff;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Inter', sans-serif;
    background-image: url(../images/pattern-a.png);
    position: relative;
}

.container {
    display: block;
    max-width: 1024px;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #111;
}

.btn {
    outline: none;
    border: none;
    display: inline-block;
    cursor: pointer;
}